h1 {
    position:absolute;
    left:55%;top: 110px;
    margin-left:-250px; /* negative margin equal to half the width */
    width:450px;
    list-style:none;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: rgb(68, 86, 248);
}
h2 {
    position:absolute;
    left:55%;top: 200px;
    margin-left:-250px; /* negative margin equal to half the width */
    width:450px;
    list-style:none;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: rgb(77, 64, 248);
}
body {
    background-image: url('https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(242, 239, 248);
}
img { 
    border-radius: 50%;
    position:absolute;
    left:55%;top: 400px;
    margin-left:-250px; /* negative margin equal to half the width */
    width:450px;
    list-style:none;
}
p {
    font-family: 'Libre Baskerville', serif;
    font-size:xx-large;
    color:mediumaquamarine;
}
nav{
border-radius: 10%;
position:absolute;
left:55%;top: 10px;
margin-left:-250px; /* negative margin equal to half the width */
width:450px;
list-style:none;
}
.navbar-brand {
font-family: 'Libre Baskerville', serif;
}

.nav-link-active {
    font-family: 'Libre Baskerville', serif;   
    font-size: small;
}
.nav-link {
    font-family: 'Libre Baskerville', serif;   
    font-size: small;
    text-align: center;
}
.nav-link-dropdown-toggle {
    font-family: 'Libre Baskerville', serif;   
    font-size: small;  
}
.container-fluid{
    background-color: rgb(233, 235, 247);
    border-radius: 5%;
}





