* {
    box-sizing: border-box;
}
/* h1 {
    /* position:absolute;
    left:50%;
     margin-left:-250px;   /*negative margin equal to half the width */
    /* width:450px;
    list-style:none;  */
    
    /* text-align: center;
    font-family: 'Lobster', cursive;
    color: rgb(114, 44, 99);
    padding-top: 20px; */
/* }  */
h2 {
    /* position:absolute;
    left:50%; */
    /* margin-left:-250px; negative margin equal to half the width
    width:450px;
    list-style:none; */
    text-align: center;
    font-family: 'Lobster', cursive;
    color: rgb(114, 44, 99);
    padding-top: 80px;
    z-index: 0;
}
body {
    background-image: url('https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(242, 239, 248);
}
/* #profile {  */
    /* border-radius: 80%; */
    /* position:absolute; */
    /* left:50%; */
    /* margin-left:-150px; negative margin equal to half the width */
    /* width:250px;
    padding-top: 250px; */
    /* list-style:none; */
/* } */
#profile{
    width:150px;
    margin-top: 20px;
   }
#email {
    font-family: 'Libre Baskerville', serif;
    font-size:medium;
    color:mediumaquamarine;
}
nav{
border-radius: 10%;
/* position:absolute; */
/* left:55%;top: 10px; */
/* margin-left:-250px; negative margin equal to half the width */
/* width: 325px;
list-style:none;
z-index: 10; */
}
.navbar-brand {
    font-family: 'Lobster', cursive;
}

.nav-link-active {
    font-family: 'Lobster', cursive;
    font-size:x-large;
}
.nav-link {
    font-family: 'Lobster', cursive; 
    font-size: x-large;
    text-align: center;
}
.nav-link-dropdown-toggle {
    font-family: 'Lobster', cursive;
    font-size: small;  
}
.container-fluid{
    background-color: rgb(233, 235, 247);
    border-radius: 5%;
    /* width: 80%; */
}
.dropdown-menu{
    border-radius: 5%;
    background-image: url('https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
          }
.dropdown-item{
    font-family: 'Lobster', cursive;
    font-size: medium;  
    color: rgb(114, 44, 99);
   }
   .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(114, 44, 99);
}
/* @media (max-Width:1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }
} */





