* {
    box-sizing: border-box;
}
h1 {
    position:absolute;
    left:55%;
    margin-left:-250px; /* negative margin equal to half the width */
    width:450px;
    list-style:none;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: rgb(68, 86, 248);
    padding-top: 20px;
}
h2 {
    position:absolute;
    left:55%;top: 225px;
    margin-left:-250px; /* negative margin equal to half the width */
    width:450px;
    list-style:none;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: rgb(77, 64, 248);
    padding-top: 20px;
    z-index: 0;
}
body {
    background-image: url('https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(242, 239, 248);
}
#profile { 
    border-radius: 50%;
    position:absolute;
    left:55%;top: 400px;
    margin-left:-150px; /* negative margin equal to half the width */
    width:250px;
    list-style:none;
}
#email {
    font-family: 'Libre Baskerville', serif;
    font-size:medium;
    color:mediumaquamarine;
}
nav{
border-radius: 10%;
position:absolute;
left:55%;top: 10px;
margin-left:-250px; /* negative margin equal to half the width */
width:450px;
list-style:none;
z-index: 10;
}
.navbar-brand {
font-family: 'Libre Baskerville', serif;
}

.nav-link-active {
    font-family: 'Libre Baskerville', serif;   
    font-size: small;
}
.nav-link {
    font-family: 'Libre Baskerville', serif;   
    font-size: small;
    text-align: center;
}
.nav-link-dropdown-toggle {
    font-family: 'Libre Baskerville', serif;   
    font-size: small;  
}
.container-fluid{
    background-color: rgb(233, 235, 247);
    border-radius: 5%;
    width: 80%;
}
.dropdown-menu{
    border-radius: 5%;
    background-image: url('https://images.unsplash.com/photo-1632269897077-57c965b0f406?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1742&q=80');
    background-position: center;
    background-size: cover;
}




